@import url("https://fonts.googleapis.com/css2?family=Allison&family=Cinzel+Decorative:wght@400;700&family=Judson:ital,wght@0,400;0,700;1,400&display=swap");
/* font-family: 'Allison', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Judson', serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Cinzel Decorative", cursive;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  border-bottom: 0.1rem solid orange;
  padding-bottom: 0.3rem;
  color: orange;
  transition: 0.5s;
}

.btn {
  background: transparent;
  border: 1px solid #ffffff;
  width: 10rem;
  margin: 1rem auto;
  color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.4rem 0;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  color: orange;
  transition: 0.5s;
  border: 1px solid orange;
}

#hero {
  height: 100vh;
  width: 100vw;
  background-image: url("./../Hero-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
#hero .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: hsla(216.92, 12.15%, 21%, 0.8);
  color: #ffffff;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.6rem;
}
#hero .navbar__list {
  display: flex;
  font-family: "Judson", serif;
  width: 20rem;
  justify-content: space-between;
}
#hero .navbar .btn--signup {
  margin-right: rem;
}
#hero .form .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem auto;
  max-width: 65rem;
  width: 100%;
  background-color: hsla(216.92, 12.15%, 21%, 0.8);
  height: 40rem;
}
#hero .form .wrapper form {
  justify-content: center;
  flex-direction: column;
  width: 25rem;
}
#hero .form .wrapper form .input-box {
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  margin: 1rem 0;
  width: 100%;
}
#hero .form .wrapper form .input-box ::-moz-placeholder {
  color: #ffffff;
}
#hero .form .wrapper form .input-box ::placeholder {
  color: #ffffff;
}
#hero .form .wrapper form .input-box input {
  padding: 0.8rem;
  border: none;
  outline: none;
  background: transparent;
}
#hero .form .wrapper form .input-box:focus-within {
  border: 1px solid orange;
}
#hero .form .wrapper form .rememberMe {
  margin-bottom: 1rem;
}
#hero .form .wrapper form .rememberMe .form-control {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
#hero .form .wrapper form .rememberMe input[type=checkbox] {
  display: grid;
  place-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  border: 1px solid #ffffff;
  border-radius: 0.2rem;
}
#hero .form .wrapper form .rememberMe input[type=checkbox]::before {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em orange;
}
#hero .form .wrapper form .rememberMe input[type=checkbox]:checked::before {
  transform: scale(1);
}
#hero .form .wrapper form .rememberMe label {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Judson", serif;
}
#hero .form .wrapper form .btn {
  width: 10rem;
}
#hero .form .wrapper form p {
  color: #ffffff;
  font-family: "Judson", serif;
  text-align: center;
}
#hero .form .wrapper form a {
  color: orange;
  text-decoration: none;
}
#hero .form-signup {
  display: none;
}
#hero .form-login {
  display: none;
}
#hero .form-login.active {
  display: initial;
}
#hero .form-signup.active {
  display: initial;
}

@media (min-width: 899px) {
  .container {
    display: none;
  }
}/*# sourceMappingURL=login.css.map */